<button class="mobile-menu-toggle" id="mobileMenuToggle">
    <i class="fas fa-bars"></i>
</button>


<aside class = "side-bar" id = "sidebar">
    <div class = "profile">
        <img src = "/assets/images/personal_avatar.jpg" class = "profile-img" alt = "Avatar của Phạm Hữu Nam">
        <p class="user-name" style = "font-family: 'IBM Plex Sans';">Phạm Hữu Nam</p>
    </div>

    <div class="social-icons">
        <a href = "https://www.facebook.com/pham.huu.nam.AmnOO/", target = "_blank", title = "Facebook">
            <img src = "/assets/images/facebook-light.png" class = "social-icon" alt = "Facebook">
        </a>

        <a href = "https://locket.camera/links/F2x8hSAXUQcYy41m7", target = "_blank", title = "Locket">
            <img src = "/assets/images/locket.jpg" class = "social-icon" style = "border-radius: 50%;" alt = "Instagram">
        </a>       

        <a href = "https://github.com/AmnO-O", target = "_blank", title = "Github">
            <img src = "/assets/images/github-light.png" class = "social-icon" alt = "Github">
        </a>
    </div>

    <nav class="nav-menu">
        <a href="index.html" class="nav-item">
            <div> <img src = "/assets/images/home.png" class = "content-icon"  alt="Trang chủ"> </div>
            <span style = "font-size: 16px; font-family: 'IBM Plex Sans';"> Home page </span>
        </a>

        <a href="404.html" class="nav-item">
            <div> <img src = "/assets/images/about.png" class = "content-icon"  alt="Giới thiệu"> </div>
            <span style = "font-size: 16px; font-family: 'IBM Plex Sans';"> About </span>
        </a>

        <a href="404.html" class="nav-item">
            <div> <img src = "/assets/images/music.png" class = "content-icon"  alt="Giới thiệu"> </div>
            <span style = "font-size: 16px; font-family: 'IBM Plex Sans';"> Music </span>
        </a>

        <a href="https://link-it.me/s/5d8034a4-c0bb-4e8c-84ed-2b6f29cbce12?" class="nav-item">
            <div> <img src = "/assets/images/Send.png" class = "content-icon"  alt="Giới thiệu"> </div>
            <span style = "font-size: 16px; font-family: 'IBM Plex Sans';"> Message me </span>
        </a>
    </nav>

    <label class="mode-toggle">
        <div class="toggle-switch">
            <input type="checkbox" id="theme-toggle">
            <span class="slider"></span>
        </div>
        <span class="mode-toggle-text">Dark mode</span>
    </label>
</aside>

